<mat-form-field>
  <mat-label>Filter <mat-icon>filter_alt</mat-icon>
  </mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Google" #input>
  <button (click)="showOptions()">Show Options</button>
  <section *ngIf="showConfiguration">
  <span>
    <mat-checkbox
      [checked]="displayAll"
      [indeterminate]="checkIfSomeDisplayable()"
      (change)="setAllColumnsDisplayable($event.checked)">
      {{taskDisplayableColumns.name}}
    </mat-checkbox>
  </span>
    <span class="example-list-section">
    <ul>
      <li *ngFor="let subtask of taskDisplayableColumns.subcategories">
        <mat-checkbox [(ngModel)]="subtask.completed"
                      [color]="subtask.color"
                      (ngModelChange)="checkIfAllDisplayable(); setFieldDisplay(subtask.name, $event)">
          {{subtask.name}}
        </mat-checkbox>
      </li>
    </ul>
  </span>
  </section>
  <section *ngIf="showConfiguration">
  <span>
    <mat-checkbox
      [checked]="searchAll"
      [indeterminate]="checkIfSomeSearchable()"
      (change)="setAllColumnsSearchable($event.checked)">
      {{taskSearchableColumns.name}}
    </mat-checkbox>
  </span>
    <span class="example-list-section">
    <ul>
      <li *ngFor="let subtask of taskSearchableColumns.subcategories">
        <mat-checkbox [(ngModel)]="subtask.completed"
                      [color]="subtask.color"
                      (ngModelChange)="checkIfAllSearchable(); setFieldSearch(subtask.name, $event)">
          {{subtask.name}}
        </mat-checkbox>
      </li>
    </ul>
  </span>
    <button (click)="hideOptions()">Close settings</button>
  </section>
</mat-form-field>
