<h2>Edit</h2>

<form [formGroup]="editCompanyForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-12">
        <div class="md-form">
          <!-- Name -->
          <label for="name">Name</label>
          <input mdbInput mdbValidate type="text" id="name" formControlName="name" class="form-control mb-4">

          <mdb-error *ngIf="name.invalid && (name.dirty || name.touched)">Required</mdb-error>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Cancel</button>

    <button mat-raised-button color="primary" [mat-dialog-close]="true" type="submit"
            [disabled]="editCompanyForm.invalid || editCompanyForm.pending ? true : null"
    >
      Update
    </button>
  </mat-dialog-actions>
</form>
