<div class="custom-control-inline">
  <div class="custom-control-inline">
    <section class="m-3">
          <span>
            <mat-checkbox
              [checked]="data.taskDisplayableColumns.completed"
              [indeterminate]="someComplete(data.taskDisplayableColumns)"
              (change)="setAllDisplayable($event.checked)">
              {{data.taskDisplayableColumns.name}}
            </mat-checkbox>
          </span>
      <span class="example-list-section">
            <ul>
              <li *ngFor="let subtask of data.taskDisplayableColumns.subcategories">
                <mat-checkbox [(ngModel)]="subtask.completed"
                              [color]="subtask.color"
                              (ngModelChange)="updateAllComplete(data.taskDisplayableColumns); setFieldDisplay(subtask.name, $event)">
                  {{subtask.name}}
                </mat-checkbox>
              </li>
            </ul>
          </span>
    </section>
    <section class="float-left m-3">
          <span>
            <mat-checkbox
              [checked]="data.taskSearchableColumns.completed"
              [indeterminate]="someComplete(data.taskSearchableColumns)"
              (change)="setAllSearchable($event.checked)">
              {{data.taskSearchableColumns.name}}
            </mat-checkbox>
          </span>
      <span class="example-list-section">
              <ul>
                <li *ngFor="let subtask of data.taskSearchableColumns.subcategories">
                  <mat-checkbox [(ngModel)]="subtask.completed"
                                [color]="subtask.color"
                                (ngModelChange)="updateAllComplete(data.taskSearchableColumns); setFieldSearch(subtask.name, $event)">
                    {{subtask.name}}
                  </mat-checkbox>
                </li>
              </ul>
          </span>
    </section>
  </div>
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>

  <button mat-raised-button color="primary" (click)="onSubmit()">
    Update
  </button>
</mat-dialog-actions>
