<router-outlet *ngIf="!isLogged"></router-outlet>

<div *ngIf="isLogged">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>Mock Client</h1>
      <span class="space"></span>

      <button mat-mini-fab color="basic" [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          Profile <mat-icon>account_circle</mat-icon>
        </button>
        <button (click)="logout()" mat-menu-item>
          Logout <mat-icon>exit_to_app</mat-icon>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="vh-100">
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard">Dashboard</a>
        <a mat-list-item routerLink="/companies">Companies</a>
        <a mat-list-item routerLink="/books">Books</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="container-fluid p-3">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
